@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    min-height: 100vh;
    overflow-y: auto;
}

.max-mobile{
    max-width: 50em;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

img{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.survey{
    background-image: url("Images/snowy machines.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.login{
    background-image: url("Images/pepsi\ rain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.results{
    background-image: url("Images/machines.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.progress-bar {
    background-color: #c8102e;
    animation: cokeToPepsi 7s linear infinite alternate;
}

@keyframes cokeToPepsi {
    0% {
        background-color: #c8102e;
    }
    50% {
        background-color: #0057b8;
    }
    100% {
        background-color: #c8102e;
    }
}
